{% extends 'base.html' %}

{% block content %}

    <div class="container">
      <div class="jumbotron">
        <h1 align="center"><u>List of bikes</u></h1>

        <h4>hi this template inside app</h4>
        <div class="row">
          {% for comp in company_list %}
          <div class="col-md-4" style="align-items:center">
            <div class="card card-body" style="display:flex;justify-content:center">
              {% comment %} <p align="center" ><a  href="{% url 'detail' comp.id %}">{{ comp.logo }}</a></p> {% endcomment %}
            


              <div class="card" style="width: 18rem;">
                {% if comp.logo %}
                  <img src="{{ comp.logo.url }}" alt='nologo' style='height:180px; align:center;'>
                {% endif %}
              <div class="card-body">
               
                {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
                <a class="btn btn-primary" href="{% url 'detail' comp.id %}">{{ comp.name }}</a> <br><br>
                <p>Origin: {{ comp.origin }}</p>
              </div>
            </div>

            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

{% endblock %}









